{% extends 'base.html' %}


{% block content %}

<section class="hero-section">

    <div class="hero-content">
        <p class="hero-subtitle">Find Your Next Dream Home</p>

        <h1 class="hero-title">
            Discover <span>Your Perfect</span><br>
            Home Today
        </h1>

        <p class="hero-description">
            Explore modern properties tailored for comfort, luxury, and lifestyle.
        </p>

        <a href="#" class="hero-btn">EXPLORE NOW →</a>
    </div>

</section>

{% endblock content %}
